In [29]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
import database

In [31]:
db_conn = database.CustomDbConnector()

You are connected to the database: mongo?authSource=admin
-----------------------------------------------

## Part 1, import

In [37]:
import importer

In [39]:
imprt = importer.Importer(db_conn.db)
imprt.drop_collections()
imprt.import_with_backreferences()

----------------------Starting import_with_backreferences-----------------------
----------------------------Starting import_user_df-----------------------------
----------------------Finished import_user_df in 2.883 ms-----------------------

-----------------Starting import_activities_and_track_points_df-----------------

/Users/larswaage/Code/large-distributed-data/src/mongodb/importer.py:111: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(

---------Finished import_activities_and_track_points_df in 25560.523 ms---------

Importing users
Importing activities
Importing track points
--------------Finished import_with_backreferences in 146195.547 ms--------------

## Part 2, tasks

### Setup

In [35]:
import tasks
task = tasks.Task(db_conn.db)

### Task 1

In [32]:
t1 = task.task1()
t1

---------------------------------Starting task1---------------------------------
-------------------------Finished task1 in 1103.549 ms--------------------------

   # users  # activities  # track points
0      182         16048         9681756

### Task 2

In [33]:
t2 = task.task2()
t2

---------------------------------Starting task2---------------------------------
----------------------------Finished task2 in 2.4 ms----------------------------

   min_activity_count  max_activity_count  avg_activity_count
0                   0                2102           88.175824

### Task 3

In [34]:
t3 = task.task3()
t3

---------------------------------Starting task3---------------------------------
---------------------------Finished task3 in 1.878 ms---------------------------

    _id  activity_count
0   128            2102
1   153            1793
2    25             715
3   163             704
4    62             691
5   144             563
6    41             399
7    85             364
8     4             346
9   140             345
10  167             320
11   68             280
12   17             265
13    3             261
14   14             236
15  126             215
16   30             210
17  112             208
18   11             201
19   39             198