In [25]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Evaluation Criteria
- The import of data into the database should work correctly
- The implemented functionality/queries should work correctly as desribed by problem text
- The implemented functionality/queries should be clear and easy to understand
- The efficiency of the code is not considered as an evaluation criteria in this exercise
- The connection to programming language should be clear and easy to understand
- The code should be implemented by the group members and for this exercise, i.e. copying code from
  others or by the use of AI tools (CoPilot, ChatGPT and similar) is considered as cheating
- Clear and understandable report as described by the problem text

In [26]:
import database

In [27]:
db_conn = database.CustomDbConnector()

You are connected to the database: mongo
-----------------------------------------------

## Part 1, import

In [28]:
import importer

In [29]:
imprt = importer.Importer(db_conn.db)

In [30]:
imprt.import_with_backreferences()

----------------------Starting import_with_backreferences-----------------------
----------------Finished import_with_backreferences in 15.943 ms----------------

c:\Users\snf\Documents\01 Skole\NTNU\Lars\large-distributed-data\src\mongodb\importer.py:243: UserWarning: Already imported, run `wipe_collections` and try again
  warnings.warn("Already imported, run `wipe_collections` and try again")

### Samples

In [31]:
imprt.user_sample()

   _id  has_labels                                         activities
0    0       False  [653915cabf272221fe8735b6, 653915cabf272221fe8...
1    1       False  [653915d1bf272221fe873651, 653915d1bf272221fe8...
2    2       False  [653915d4bf272221fe87368a, 653915d5bf272221fe8...
3    3       False  [653915dcbf272221fe87371c, 653915dcbf272221fe8...
4    4       False  [653915eabf272221fe873821, 653915eabf272221fe8...
5    5       False  [653915fabf272221fe87397b, 653915fabf272221fe8...
6    6       False  [653915fdbf272221fe8739c4, 653915fdbf272221fe8...
7    7       False  [653915febf272221fe8739dc, 653915febf272221fe8...
8    8       False  [65391600bf272221fe873a04, 65391600bf272221fe8...
9    9       False  [65391602bf272221fe873a1b, 65391602bf272221fe8...

In [32]:
imprt.activity_sample()

,_id,user_id,start_datetime,end_datetime,transportation_mode,track_points
0,653915cabf272221fe8735b6,0,2008-10-23 02:53:04,2008-10-23 11:11:12,,"[653918e2bf272221fe877466, 653918e2bf272221fe8..."
1,653915cabf272221fe8735b7,0,2008-10-24 02:09:59,2008-10-24 02:47:06,,"[653918e2bf272221fe8777f2, 653918e2bf272221fe8..."
2,653915cabf272221fe8735b8,0,2008-10-26 13:44:07,2008-10-26 15:04:07,,"[653918e2bf272221fe8778e6, 653918e2bf272221fe8..."
3,653915cabf272221fe8735b9,0,2008-10-27 11:54:49,2008-10-27 12:05:54,,"[653918e2bf272221fe877bcf, 653918e2bf272221fe8..."
4,653915cabf272221fe8735ba,0,2008-10-28 00:38:26,2008-10-28 05:03:42,,"[653918e2bf272221fe877c01, 653918e2bf272221fe8..."
5,653915cabf272221fe8735bb,0,2008-10-29 09:21:38,2008-10-29 09:30:28,,"[653918e2bf272221fe8781c6, 653918e2bf272221fe8..."
6,653915cabf272221fe8735bc,0,2008-10-29 09:30:38,2008-10-29 09:46:43,,"[653918e2bf272221fe8781db, 653918e2bf272221fe8..."
7,653915cbbf272221fe8735bd,0,2008-11-03 10:13:36,2008-11-03 10:16:01,,"[653918e2bf272221fe878291, 653918e2bf272221fe8..."
8,653915cbbf272221fe8735be,0,2008-11-03 23:21:53,2008-11-04 03:31:08,,"[653918e2bf272221fe878298, 653918e2bf272221fe8..."
9,653915cbbf272221fe8735bf,0,2008-11-10 01:36:37,2008-11-10 03:46:12,,"[653918e2bf272221fe878b4f, 653918e2bf272221fe8..."

In [33]:
imprt.track_point_sample()

,_id,datetime,latitude,longitude,altitude,location,activity_id,user_id
0,653918e2bf272221fe877466,2008-10-23 02:53:04,39.984702,116.318417,492.0,"{'type': 'Point', 'coordinates': [116.318417, ...",653915cabf272221fe8735b6,000
1,653918e2bf272221fe877467,2008-10-23 02:53:10,39.984683,116.318450,492.0,"{'type': 'Point', 'coordinates': [116.31845, 3...",653915cabf272221fe8735b6,000
2,653918e2bf272221fe877468,2008-10-23 02:53:15,39.984686,116.318417,492.0,"{'type': 'Point', 'coordinates': [116.318417, ...",653915cabf272221fe8735b6,000
3,653918e2bf272221fe877469,2008-10-23 02:53:20,39.984688,116.318385,492.0,"{'type': 'Point', 'coordinates': [116.318385, ...",653915cabf272221fe8735b6,000
4,653918e2bf272221fe87746a,2008-10-23 02:53:25,39.984655,116.318263,492.0,"{'type': 'Point', 'coordinates': [116.318263, ...",653915cabf272221fe8735b6,000
5,653918e2bf272221fe87746b,2008-10-23 02:53:30,39.984611,116.318026,493.0,"{'type': 'Point', 'coordinates': [116.318026, ...",653915cabf272221fe8735b6,000
6,653918e2bf272221fe87746c,2008-10-23 02:53:35,39.984608,116.317761,493.0,"{'type': 'Point', 'coordinates': [116.317761, ...",653915cabf272221fe8735b6,000
7,653918e2bf272221fe87746d,2008-10-23 02:53:40,39.984563,116.317517,496.0,"{'type': 'Point', 'coordinates': [116.317517, ...",653915cabf272221fe8735b6,000
8,653918e2bf272221fe87746e,2008-10-23 02:53:45,39.984539,116.317294,500.0,"{'type': 'Point', 'coordinates': [116.317294, ...",653915cabf272221fe8735b6,000
9,653918e2bf272221fe87746f,2008-10-23 02:53:50,39.984606,116.317065,505.0,"{'type': 'Point', 'coordinates': [116.317065, ...",653915cabf272221fe8735b6,000

## Part 2, tasks

### Setup

In [34]:
import tasks
task = tasks.Task(db_conn.db)

### Task 1

In [35]:
t1 = task.task1()
t1

---------------------------------Starting task1---------------------------------
-------------------------Finished task1 in 4235.737 ms--------------------------

   # users  # activities  # track points
0      182         16048         9681756

### Task 2

In [12]:
t2 = task.task2()
t2

---------------------------------Starting task2---------------------------------
--------------------------Finished task2 in 18.855 ms---------------------------

   min_activity_count  max_activity_count  avg_activity_count
0                   0                2102           88.175824

In [13]:
t22 = task.task22()
t22

     _id  activitiesCount
0      0              155
1      1               57
2      2              146
3      3              261
4      4              346
..   ...              ...
177  177                0
178  178                1
179  179               43
180  180                4
181  181               15

[182 rows x 2 columns]

In [14]:
t222 = task.task222()
t222

     _id  averageTrackPointsPerUser
0      0                 670.870968
1      1                 824.964912
2      2                 924.801370
3      3                 807.386973
4      4                 761.858382
..   ...                        ...
168  176                  44.000000
169  178                  84.000000
170  179                1171.441860
171  180                 293.250000
172  181                  45.800000

[173 rows x 2 columns]

### Task 3

In [15]:
t3 = task.task3()
t3

---------------------------------Starting task3---------------------------------
---------------------------Finished task3 in 3.406 ms---------------------------

    _id  activity_count
0   128            2102
1   153            1793
2    25             715
3   163             704
4    62             691
5   144             563
6    41             399
7    85             364
8     4             346
9   140             345
10  167             320
11   68             280
12   17             265
13    3             261
14   14             236
15  126             215
16   30             210
17  112             208
18   11             201
19   39             198

### Task 4

In [16]:
t4 = task.task4()
t4

---------------------------------Starting task4---------------------------------
--------------------------Finished task4 in 13.623 ms---------------------------

   Users Who Have Taken a Taxi
0                           10
1                           58
2                           62
3                           78
4                           80
5                           85
6                           98
7                          111
8                          128
9                          163

### Task 5

In [17]:
t5 = task.task5()
t5

---------------------------------Starting task5---------------------------------
--------------------------Finished task5 in 12.132 ms---------------------------

        _id  transportation_mode_count
0      walk                        481
1       car                        419
2      bike                        262
3       bus                        199
4    subway                        133
5      taxi                         37
6  airplane                          3
7     train                          2
8       run                          1
9      boat                          1

In [18]:
t6a = task.task6a()
t6a

--------------------------------Starting task6a---------------------------------
--------------------------Finished task6a in 28.264 ms--------------------------

   activityCount  year
0           5895  2008

In [19]:
t6b = task.task6b()
t6b

--------------------------------Starting task6b---------------------------------
--------------------------Finished task6b in 33.974 ms--------------------------

     totalHours  year
0  11612.423889  2009

In [ ]:
t7 = task.task7()

t7

In [87]:
df = task.task7()

---------------------------------Starting task7---------------------------------
-------------------------Finished task7 in 10506.322 ms-------------------------

In [101]:


from haversine import haversine, Unit

# #for array of points in dataframe with column track_points
        # #count difference between each point
        # #add to total distance
        


print(df['track_points'][a][i])
x = df['track_points'][a][i].get('location').get('coordinates')[0]
y = df['track_points'][a][i].get('location').get('coordinates')[1]
# print(df['track_points'][0][0]
# res = haversine((df['track_points'][0]), (df['track_points'][1]), unit=Unit.KILOMETERS)
# print
total_distance = 0
for a in range(df.shape[0]):
    for i in range(1, len(df['track_points'])):
        x = df['track_points'][a][i].get('location').get('coordinates')[0]
y       y = df['track_points'][a][i].get('location').get('coordinates')[1]
        point1 = 
        point2 = df['track_points'][i]
        distance = haversine(point1, point2, unit=Unit.KILOMETERS)
        total_distance += distance

total_distance

[{'location': {'type': 'Point', 'coordinates': [116.3307949, 39.975485]}}, {'location': {'type': 'Point', 'coordinates': [116.3307949, 39.975485]}}, {'location': {'type': 'Point', 'coordinates': [116.3307933, 39.9754883]}}, {'location': {'type': 'Point', 'coordinates': [116.3307816, 39.9755216]}}, {'location': {'type': 'Point', 'coordinates': [116.3307583, 39.9755366]}}, {'location': {'type': 'Point', 'coordinates': [116.3307249, 39.975515]}}, {'location': {'type': 'Point', 'coordinates': [116.3306983, 39.9754983]}}, {'location': {'type': 'Point', 'coordinates': [116.33066, 39.9755083]}}, {'location': {'type': 'Point', 'coordinates': [116.3306033, 39.9754833]}}, {'location': {'type': 'Point', 'coordinates': [116.3305433, 39.9755133]}}, {'location': {'type': 'Point', 'coordinates': [116.3304933, 39.975475]}}, {'location': {'type': 'Point', 'coordinates': [116.3304599, 39.9754816]}}, {'location': {'type': 'Point', 'coordinates': [116.330435, 39.9755166]}}, {'location': {'type': 'Point', 'coordinates': [116.3304083, 39.9755366]}}, {'location': {'type': 'Point', 'coordinates': [116.3303816, 39.9755433]}}, {'location': {'type': 'Point', 'coordinates': [116.3303499, 39.9755616]}}, {'location': {'type': 'Point', 'coordinates': [116.3303283, 39.9755133]}}, {'location': {'type': 'Point', 'coordinates': [116.3303066, 39.975485]}}, {'location': {'type': 'Point', 'coordinates': [116.3302699, 39.9754833]}}, {'location': {'type': 'Point', 'coordinates': [116.3302299, 39.9754516]}}, {'location': {'type': 'Point', 'coordinates': [116.3302183, 39.9754316]}}, {'location': {'type': 'Point', 'coordinates': [116.330205, 39.9754283]}}, {'location': {'type': 'Point', 'coordinates': [116.3301749, 39.9754366]}}, {'location': {'type': 'Point', 'coordinates': [116.3301383, 39.9754233]}}, {'location': {'type': 'Point', 'coordinates': [116.3300949, 39.9754633]}}, {'location': {'type': 'Point', 'coordinates': [116.3300699, 39.975485]}}, {'location': {'type': 'Point', 'coordinates': [116.3300433, 39.9755166]}}, {'location': {'type': 'Point', 'coordinates': [116.3300033, 39.9755283]}}, {'location': {'type': 'Point', 'coordinates': [116.3299683, 39.9754866]}}, {'location': {'type': 'Point', 'coordinates': [116.3299416, 39.9754583]}}, {'location': {'type': 'Point', 'coordinates': [116.3299049, 39.9754533]}}, {'location': {'type': 'Point', 'coordinates': [116.3298733, 39.9754399]}}, {'location': {'type': 'Point', 'coordinates': [116.3298449, 39.9754316]}}, {'location': {'type': 'Point', 'coordinates': [116.3298183, 39.9754316]}}, {'location': {'type': 'Point', 'coordinates': [116.3297899, 39.9754166]}}, {'location': {'type': 'Point', 'coordinates': [116.3297516, 39.9754333]}}, {'location': {'type': 'Point', 'coordinates': [116.3297216, 39.9754466]}}, {'location': {'type': 'Point', 'coordinates': [116.3296983, 39.97547]}}, {'location': {'type': 'Point', 'coordinates': [116.3296633, 39.9754916]}}, {'location': {'type': 'Point', 'coordinates': [116.3296266, 39.9754916]}}, {'location': {'type': 'Point', 'coordinates': [116.3295933, 39.9755]}}, {'location': {'type': 'Point', 'coordinates': [116.3295616, 39.9754983]}}, {'location': {'type': 'Point', 'coordinates': [116.3295199, 39.9754949]}}, {'location': {'type': 'Point', 'coordinates': [116.3294799, 39.9754833]}}, {'location': {'type': 'Point', 'coordinates': [116.3294499, 39.9754933]}}, {'location': {'type': 'Point', 'coordinates': [116.3294233, 39.9755166]}}, {'location': {'type': 'Point', 'coordinates': [116.3293933, 39.9755249]}}, {'location': {'type': 'Point', 'coordinates': [116.32937, 39.9755183]}}, {'location': {'type': 'Point', 'coordinates': [116.3293399, 39.9755199]}}, {'location': {'type': 'Point', 'coordinates': [116.3293066, 39.9755083]}}, {'location': {'type': 'Point', 'coordinates': [116.3292716, 39.9755099]}}, {'location': {'type': 'Point', 'coordinates': [116.3292416, 39.9754916]}}, {'location': {'type': 'Point', 'coordinates': [116.32921, 39.9754866]}}, {'location': {'type': 'Point', 'coordinates': [116.3291766, 39.9754816]}}, {'location': {'type': 'Point', 'coordinates': [116.3291199, 39.9754933]}}, {'location': {'type': 'Point', 'coordinates': [116.3290866, 39.9754866]}}, {'location': {'type': 'Point', 'coordinates': [116.3290649, 39.9754866]}}, {'location': {'type': 'Point', 'coordinates': [116.3290499, 39.97547]}}, {'location': {'type': 'Point', 'coordinates': [116.3290233, 39.9754249]}}, {'location': {'type': 'Point', 'coordinates': [116.3289699, 39.9753516]}}, {'location': {'type': 'Point', 'coordinates': [116.3289516, 39.9752816]}}, {'location': {'type': 'Point', 'coordinates': [116.32893, 39.9752033]}}, {'location': {'type': 'Point', 'coordinates': [116.328915, 39.9751683]}}, {'location': {'type': 'Point', 'coordinates': [116.3289199, 39.975135]}}, {'location': {'type': 'Point', 'coordinates': [116.3289216, 39.9751083]}}, {'location': {'type': 'Point', 'coordinates': [116.3289116, 39.9750899]}}, {'location': {'type': 'Point', 'coordinates': [116.3289033, 39.9750916]}}, {'location': {'type': 'Point', 'coordinates': [116.3288899, 39.9750933]}}, {'location': {'type': 'Point', 'coordinates': [116.3288733, 39.975095]}}, {'location': {'type': 'Point', 'coordinates': [116.3288666, 39.9751216]}}, {'location': {'type': 'Point', 'coordinates': [116.3288549, 39.97515]}}, {'location': {'type': 'Point', 'coordinates': [116.3288399, 39.9751983]}}, {'location': {'type': 'Point', 'coordinates': [116.3288266, 39.9752416]}}, {'location': {'type': 'Point', 'coordinates': [116.3288083, 39.9752333]}}, {'location': {'type': 'Point', 'coordinates': [116.3287849, 39.9752233]}}, {'location': {'type': 'Point', 'coordinates': [116.328755, 39.9752366]}}, {'location': {'type': 'Point', 'coordinates': [116.3287216, 39.9752533]}}, {'location': {'type': 'Point', 'coordinates': [116.3286966, 39.9752549]}}, {'location': {'type': 'Point', 'coordinates': [116.3286649, 39.9752666]}}, {'location': {'type': 'Point', 'coordinates': [116.3286316, 39.9752866]}}, {'location': {'type': 'Point', 'coordinates': [116.3285983, 39.9752716]}}, {'location': {'type': 'Point', 'coordinates': [116.3285716, 39.9752849]}}, {'location': {'type': 'Point', 'coordinates': [116.3285533, 39.97529]}}, {'location': {'type': 'Point', 'coordinates': [116.3285316, 39.9752849]}}, {'location': {'type': 'Point', 'coordinates': [116.3285033, 39.9752816]}}, {'location': {'type': 'Point', 'coordinates': [116.3284666, 39.9752633]}}, {'location': {'type': 'Point', 'coordinates': [116.3284283, 39.9752783]}}, {'location': {'type': 'Point', 'coordinates': [116.3283949, 39.97528]}}, {'location': {'type': 'Point', 'coordinates': [116.32837, 39.97532]}}, {'location': {'type': 'Point', 'coordinates': [116.3283316, 39.97533]}}, {'location': {'type': 'Point', 'coordinates': [116.3282983, 39.9753266]}}, {'location': {'type': 'Point', 'coordinates': [116.3282749, 39.9752949]}}, {'location': {'type': 'Point', 'coordinates': [116.3282416, 39.9752849]}}, {'location': {'type': 'Point', 'coordinates': [116.3282116, 39.97528]}}, {'location': {'type': 'Point', 'coordinates': [116.3281766, 39.9752716]}}, {'location': {'type': 'Point', 'coordinates': [116.328145, 39.97526]}}, {'location': {'type': 'Point', 'coordinates': [116.3281149, 39.97522]}}, {'location': {'type': 'Point', 'coordinates': [116.3280866, 39.9751983]}}, {'location': {'type': 'Point', 'coordinates': [116.32806, 39.97519]}}, {'location': {'type': 'Point', 'coordinates': [116.3280016, 39.9751849]}}, {'location': {'type': 'Point', 'coordinates': [116.3279516, 39.9751683]}}, {'location': {'type': 'Point', 'coordinates': [116.3279366, 39.9751316]}}, {'location': {'type': 'Point', 'coordinates': [116.3279049, 39.97512]}}, {'location': {'type': 'Point', 'coordinates': [116.3278666, 39.9751216]}}, {'location': {'type': 'Point', 'coordinates': [116.3278349, 39.9751133]}}, {'location': {'type': 'Point', 'coordinates': [116.3278199, 39.9751066]}}, {'location': {'type': 'Point', 'coordinates': [116.3277933, 39.9751133]}}, {'location': {'type': 'Point', 'coordinates': [116.3277766, 39.9751183]}}, {'location': {'type': 'Point', 'coordinates': [116.3277566, 39.9751066]}}, {'location': {'type': 'Point', 'coordinates': [116.3277316, 39.9751083]}}, {'location': {'type': 'Point', 'coordinates': [116.3276949, 39.975095]}}, {'location': {'type': 'Point', 'coordinates': [116.3276583, 39.9751016]}}, {'location': {'type': 'Point', 'coordinates': [116.3276216, 39.97511]}}, {'location': {'type': 'Point', 'coordinates': [116.3275883, 39.9751216]}}, {'location': {'type': 'Point', 'coordinates': [116.327535, 39.9751316]}}, {'location': {'type': 'Point', 'coordinates': [116.3275133, 39.9751333]}}, {'location': {'type': 'Point', 'coordinates': [116.327465, 39.9751283]}}, {'location': {'type': 'Point', 'coordinates': [116.32743, 39.9751049]}}, {'location': {'type': 'Point', 'coordinates': [116.3273783, 39.975055]}}, {'location': {'type': 'Point', 'coordinates': [116.3273416, 39.9750133]}}, {'location': {'type': 'Point', 'coordinates': [116.3273149, 39.9750033]}}, {'location': {'type': 'Point', 'coordinates': [116.3272833, 39.9750466]}}, {'location': {'type': 'Point', 'coordinates': [116.327205, 39.97511]}}, {'location': {'type': 'Point', 'coordinates': [116.3271866, 39.9750899]}}, {'location': {'type': 'Point', 'coordinates': [116.327185, 39.9750383]}}, {'location': {'type': 'Point', 'coordinates': [116.3271949, 39.9749749]}}, {'location': {'type': 'Point', 'coordinates': [116.3271883, 39.9749366]}}, {'location': {'type': 'Point', 'coordinates': [116.3271683, 39.9748816]}}, {'location': {'type': 'Point', 'coordinates': [116.3271483, 39.974815]}}, {'location': {'type': 'Point', 'coordinates': [116.3271316, 39.9747783]}}, {'location': {'type': 'Point', 'coordinates': [116.3271449, 39.9747399]}}, {'location': {'type': 'Point', 'coordinates': [116.3271216, 39.9746549]}}, {'location': {'type': 'Point', 'coordinates': [116.3271049, 39.9745866]}}, {'location': {'type': 'Point', 'coordinates': [116.3271116, 39.9745516]}}, {'location': {'type': 'Point', 'coordinates': [116.3271266, 39.9745149]}}, {'location': {'type': 'Point', 'coordinates': [116.3271416, 39.9744533]}}, {'location': {'type': 'Point', 'coordinates': [116.3271466, 39.9744149]}}, {'location': {'type': 'Point', 'coordinates': [116.3271449, 39.9743783]}}, {'location': {'type': 'Point', 'coordinates': [116.3271816, 39.9743083]}}, {'location': {'type': 'Point', 'coordinates': [116.3271966, 39.9742866]}}, {'location': {'type': 'Point', 'coordinates': [116.3271983, 39.97427]}}, {'location': {'type': 'Point', 'coordinates': [116.3272066, 39.9742466]}}, {'location': {'type': 'Point', 'coordinates': [116.3272183, 39.9742449]}}, {'location': {'type': 'Point', 'coordinates': [116.3272383, 39.9742316]}}, {'location': {'type': 'Point', 'coordinates': [116.327275, 39.9742449]}}, {'location': {'type': 'Point', 'coordinates': [116.327305, 39.9742483]}}, {'location': {'type': 'Point', 'coordinates': [116.3273066, 39.9742449]}}, {'location': {'type': 'Point', 'coordinates': [116.327325, 39.9742216]}}, {'location': {'type': 'Point', 'coordinates': [116.3273383, 39.9741816]}}, {'location': {'type': 'Point', 'coordinates': [116.3273366, 39.9741883]}}, {'location': {'type': 'Point', 'coordinates': [116.3273299, 39.974195]}}, {'location': {'type': 'Point', 'coordinates': [116.3273233, 39.9741616]}}, {'location': {'type': 'Point', 'coordinates': [116.32734, 39.9741116]}}, {'location': {'type': 'Point', 'coordinates': [116.3273316, 39.9740783]}}, {'location': {'type': 'Point', 'coordinates': [116.3273266, 39.9740633]}}, {'location': {'type': 'Point', 'coordinates': [116.3273233, 39.97406]}}, {'location': {'type': 'Point', 'coordinates': [116.3273316, 39.9740566]}}, {'location': {'type': 'Point', 'coordinates': [116.327305, 39.9740266]}}, {'location': {'type': 'Point', 'coordinates': [116.3272949, 39.9739933]}}, {'location': {'type': 'Point', 'coordinates': [116.3273116, 39.9739433]}}, {'location': {'type': 'Point', 'coordinates': [116.3273316, 39.973905]}}, {'location': {'type': 'Point', 'coordinates': [116.3273483, 39.9738566]}}, {'location': {'type': 'Point', 'coordinates': [116.3273333, 39.9738633]}}, {'location': {'type': 'Point', 'coordinates': [116.3273133, 39.9738566]}}, {'location': {'type': 'Point', 'coordinates': [116.3273149, 39.9738483]}}, {'location': {'type': 'Point', 'coordinates': [116.3273133, 39.9738283]}}, {'location': {'type': 'Point', 'coordinates': [116.3273283, 39.9737733]}}, {'location': {'type': 'Point', 'coordinates': [116.3273316, 39.9737516]}}, {'location': {'type': 'Point', 'coordinates': [116.3273299, 39.9737016]}}, {'location': {'type': 'Point', 'coordinates': [116.3273349, 39.9736716]}}, {'location': {'type': 'Point', 'coordinates': [116.3273133, 39.9736233]}}, {'location': {'type': 'Point', 'coordinates': [116.327305, 39.9736049]}}, {'location': {'type': 'Point', 'coordinates': [116.3272833, 39.9735616]}}, {'location': {'type': 'Point', 'coordinates': [116.3272716, 39.97354]}}, {'location': {'type': 'Point', 'coordinates': [116.3272733, 39.9735166]}}, {'location': {'type': 'Point', 'coordinates': [116.3272883, 39.9735033]}}, {'location': {'type': 'Point', 'coordinates': [116.3272783, 39.9734866]}}, {'location': {'type': 'Point', 'coordinates': [116.3272683, 39.973495]}}, {'location': {'type': 'Point', 'coordinates': [116.3272716, 39.9734916]}}, {'location': {'type': 'Point', 'coordinates': [116.3272766, 39.9734616]}}, {'location': {'type': 'Point', 'coordinates': [116.3272949, 39.9734483]}}, {'location': {'type': 'Point', 'coordinates': [116.3273016, 39.9734283]}}, {'location': {'type': 'Point', 'coordinates': [116.327305, 39.9734049]}}, {'location': {'type': 'Point', 'coordinates': [116.3273133, 39.9733733]}}, {'location': {'type': 'Point', 'coordinates': [116.3273216, 39.9733433]}}, {'location': {'type': 'Point', 'coordinates': [116.3273333, 39.9733116]}}, {'location': {'type': 'Point', 'coordinates': [116.327345, 39.9732766]}}, {'location': {'type': 'Point', 'coordinates': [116.3273433, 39.9732283]}}, {'location': {'type': 'Point', 'coordinates': [116.3273549, 39.9731616]}}, {'location': {'type': 'Point', 'coordinates': [116.3273649, 39.97312]}}, {'location': {'type': 'Point', 'coordinates': [116.327375, 39.9730833]}}, {'location': {'type': 'Point', 'coordinates': [116.3273799, 39.9730483]}}, {'location': {'type': 'Point', 'coordinates': [116.3273883, 39.973035]}}, {'location': {'type': 'Point', 'coordinates': [116.3273683, 39.9730233]}}, {'location': {'type': 'Point', 'coordinates': [116.3273433, 39.9730299]}}, {'location': {'type': 'Point', 'coordinates': [116.3273199, 39.9730433]}}, {'location': {'type': 'Point', 'coordinates': [116.3273216, 39.9730249]}}, {'location': {'type': 'Point', 'coordinates': [116.3273266, 39.9730149]}}, {'location': {'type': 'Point', 'coordinates': [116.3273216, 39.9729983]}}, {'location': {'type': 'Point', 'coordinates': [116.3273233, 39.9729833]}}, {'location': {'type': 'Point', 'coordinates': [116.3273266, 39.9729666]}}, {'location': {'type': 'Point', 'coordinates': [116.3273283, 39.9729583]}}, {'location': {'type': 'Point', 'coordinates': [116.3273283, 39.9729466]}}, {'location': {'type': 'Point', 'coordinates': [116.3273283, 39.9729283]}}, {'location': {'type': 'Point', 'coordinates': [116.3273349, 39.9729116]}}, {'location': {'type': 'Point', 'coordinates': [116.3273416, 39.9728833]}}, {'location': {'type': 'Point', 'coordinates': [116.3273433, 39.9728583]}}, {'location': {'type': 'Point', 'coordinates': [116.3273616, 39.9728116]}}, {'location': {'type': 'Point', 'coordinates': [116.3273666, 39.9727683]}}, {'location': {'type': 'Point', 'coordinates': [116.3273699, 39.9727349]}}, {'location': {'type': 'Point', 'coordinates': [116.3273833, 39.9727016]}}, {'location': {'type': 'Point', 'coordinates': [116.3273816, 39.9726783]}}, {'location': {'type': 'Point', 'coordinates': [116.3273883, 39.9726366]}}, {'location': {'type': 'Point', 'coordinates': [116.3273966, 39.9726016]}}, {'location': {'type': 'Point', 'coordinates': [116.3273916, 39.9725799]}}, {'location': {'type': 'Point', 'coordinates': [116.3273966, 39.9725466]}}, {'location': {'type': 'Point', 'coordinates': [116.327395, 39.97253]}}, {'location': {'type': 'Point', 'coordinates': [116.327395, 39.972515]}}, {'location': {'type': 'Point', 'coordinates': [116.3273733, 39.9725016]}}, {'location': {'type': 'Point', 'coordinates': [116.3273483, 39.9725199]}}, {'location': {'type': 'Point', 'coordinates': [116.3273066, 39.9725183]}}, {'location': {'type': 'Point', 'coordinates': [116.3272266, 39.9725383]}}, {'location': {'type': 'Point', 'coordinates': [116.3271666, 39.972545]}}, {'location': {'type': 'Point', 'coordinates': [116.3271249, 39.9725399]}}, {'location': {'type': 'Point', 'coordinates': [116.3270833, 39.9725666]}}, {'location': {'type': 'Point', 'coordinates': [116.3270466, 39.9725883]}}, {'location': {'type': 'Point', 'coordinates': [116.32701, 39.9726133]}}, {'location': {'type': 'Point', 'coordinates': [116.326975, 39.9726333]}}, {'location': {'type': 'Point', 'coordinates': [116.3269483, 39.97263]}}, {'location': {'type': 'Point', 'coordinates': [116.3269066, 39.9726133]}}, {'location': {'type': 'Point', 'coordinates': [116.3268849, 39.9726]}}, {'location': {'type': 'Point', 'coordinates': [116.3268533, 39.9726049]}}, {'location': {'type': 'Point', 'coordinates': [116.3268416, 39.9725766]}}, {'location': {'type': 'Point', 'coordinates': [116.3267883, 39.9724949]}}, {'location': {'type': 'Point', 'coordinates': [116.3267466, 39.9724799]}}, {'location': {'type': 'Point', 'coordinates': [116.3267216, 39.9724499]}}, {'location': {'type': 'Point', 'coordinates': [116.3266899, 39.9724316]}}, {'location': {'type': 'Point', 'coordinates': [116.3266516, 39.9724016]}}, {'location': {'type': 'Point', 'coordinates': [116.3266416, 39.9723883]}}, {'location': {'type': 'Point', 'coordinates': [116.3266266, 39.9723616]}}, {'location': {'type': 'Point', 'coordinates': [116.3266066, 39.972345]}}, {'location': {'type': 'Point', 'coordinates': [116.3265649, 39.9723433]}}, {'location': {'type': 'Point', 'coordinates': [116.3265416, 39.972345]}}, {'location': {'type': 'Point', 'coordinates': [116.32652, 39.9723416]}}, {'location': {'type': 'Point', 'coordinates': [116.3264883, 39.9723316]}}, {'location': {'type': 'Point', 'coordinates': [116.32645, 39.9723266]}}, {'location': {'type': 'Point', 'coordinates': [116.3264183, 39.9723399]}}, {'location': {'type': 'Point', 'coordinates': [116.3263749, 39.9723516]}}, {'location': {'type': 'Point', 'coordinates': [116.3263416, 39.9723766]}}, {'location': {'type': 'Point', 'coordinates': [116.32631, 39.9723866]}}, {'location': {'type': 'Point', 'coordinates': [116.3262849, 39.9723999]}}, {'location': {'type': 'Point', 'coordinates': [116.3262499, 39.9723966]}}, {'location': {'type': 'Point', 'coordinates': [116.3262066, 39.9724399]}}, {'location': {'type': 'Point', 'coordinates': [116.3261633, 39.9724433]}}, {'location': {'type': 'Point', 'coordinates': [116.3261133, 39.97243]}}, {'location': {'type': 'Point', 'coordinates': [116.32607, 39.9724249]}}, {'location': {'type': 'Point', 'coordinates': [116.3260333, 39.9724183]}}, {'location': {'type': 'Point', 'coordinates': [116.3259916, 39.9723933]}}, {'location': {'type': 'Point', 'coordinates': [116.3259633, 39.9723716]}}, {'location': {'type': 'Point', 'coordinates': [116.32593, 39.9723616]}}, {'location': {'type': 'Point', 'coordinates': [116.3258933, 39.9723566]}}, {'location': {'type': 'Point', 'coordinates': [116.3258466, 39.9723833]}}, {'location': {'type': 'Point', 'coordinates': [116.3258083, 39.9724116]}}, {'location': {'type': 'Point', 'coordinates': [116.3257749, 39.9724433]}}, {'location': {'type': 'Point', 'coordinates': [116.3257316, 39.9724649]}}, {'location': {'type': 'Point', 'coordinates': [116.3256966, 39.9724566]}}, {'location': {'type': 'Point', 'coordinates': [116.3256683, 39.9724499]}}, {'location': {'type': 'Point', 'coordinates': [116.3256366, 39.9724466]}}, {'location': {

In [91]:
import datetime
import pandas as pd
res = task.db.track_points.find({
    "user_id": "112",
    "datetime": {
        "$gte": datetime.datetime(2008, 1, 1),
        "$lt": datetime.datetime(2009, 1, 1) 
    }
}, {"location": 1}).sort(["datetime"])

tp_df = pd.DataFrame(list(res))

### Task 11

In [ ]:
t11 = task.task11()
t11

--------------------------------Starting task11---------------------------------
--------------------------Finished task11 in 29.305 ms--------------------------

    user_id most_used_transportation_mode  transportation_mode_count
0        10                          taxi                          3
1        20                          bike                         80
2        21                          walk                          1
3        52                           bus                          1
4        56                          bike                         15
5        58                          walk                          2
6        60                          walk                          1
7        62                         train                        173
8        64                          bike                          1
9        65                          bike                         10
10       67                          walk                          1
11       69                          bike                          1
12       73                          walk                         52
13       75                          walk                          1
14       76                           car                          3
15       78                          taxi                         37
16       80                          bike                          1
17       81                          walk                          4
18       82                          walk                          2
19       84                           bus                          9
20       85                          walk                         18
21       86                           car                          2
22       87                          walk                          5
23       89                          walk                          7
24       91                          walk                          2
25       92                          walk                          1
26       97                          bike                          9
27       98                          taxi                          1
28      101                           car                          3
29      102                          walk                          7
30      107                          walk                          1
31      108                          bike                          2
32      111                          taxi                          3
33      112                          walk                         69
34      115                           car                         80
35      117                          walk                          1
36      125                           bus                          3
37      126                          bike                         13
38      128                          taxi                        312
39      136                          walk                          3
40      138                          bike                          2
41      139                          bike                          4
42      144                          walk                          2
43      153                          walk                          5
44      161                          walk                          1
45      163                          taxi                         26
46      167                          bike                         31
47      175                           bus                          1

In [95]:
tp_df["longitude"] = tp_df["location"].apply(lambda x: x["coordinates"][0])
tp_df["latitude"] = tp_df["location"].apply(lambda x: x["coordinates"][1])
tp_df

,_id,location,longitude,latitude
0,65391917bf272221fedfe756,"{'type': 'Point', 'coordinates': [116.33286666...",116.332867,39.968667
1,65391917bf272221fedfe757,"{'type': 'Point', 'coordinates': [116.33308333...",116.333083,39.967367
2,65391917bf272221fedfe758,"{'type': 'Point', 'coordinates': [116.3331, 39...",116.333100,39.966650
3,65391917bf272221fedfe759,"{'type': 'Point', 'coordinates': [116.33301666...",116.333017,39.967667
4,65391917bf272221fedfe75a,"{'type': 'Point', 'coordinates': [116.33295, 3...",116.332950,39.968550
...,...,...,...,...
70756,65391918bf272221fee0fbba,"{'type': 'Point', 'coordinates': [116.3310633,...",116.331063,39.975592
70757,65391918bf272221fee0fbbb,"{'type': 'Point', 'coordinates': [116.33108, 3...",116.331080,39.975583
70758,65391918bf272221fee0fbbc,"{'type': 'Point', 'coordinates': [116.3311133,...",116.331113,39.975567
70759,65391918bf272221fee0fbbd,"{'type': 'Point', 'coordinates': [116.3311866,...",116.331187,39.975563
70760,65391918bf272221fee0fbbe,"{'type': 'Point', 'coordinates': [116.3312566,...",116.331257,39.975590

In [103]:
tp_df["distance"] = haversine_np(tp_df["longitude"], tp_df["latitude"], tp_df.shift()["longitude"], tp_df.shift()["latitude"])
tp_df

ValueError: Multi-dimensional indexing (e.g. `obj[:, None]`) is no longer supported. Convert to a numpy array before indexing instead.

In [102]:
import numpy as np

def haversine_np(
    lon1: pd.DataFrame,
    lat1: pd.DataFrame,
    lon2: pd.DataFrame,
    lat2: pd.DataFrame,
) -> pd.DataFrame:
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1

    dlat = lat2 - lat1

    a = (
        np.sin(dlat / 2.0) ** 2
        + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0) ** 2
    )

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km