In [41]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
import database

In [43]:
db_conn = database.CustomDbConnector()

You are connected to the database: mongo?authSource=admin
-----------------------------------------------

## Part 1, import

In [44]:
import importer

In [47]:
imprt = importer.Importer(db_conn.db)

In [48]:
imprt.import_with_backreferences()

----------------------Starting import_with_backreferences-----------------------
----------------Finished import_with_backreferences in 1.801 ms-----------------

/Users/larswaage/Code/large-distributed-data/src/mongodb/importer.py:166: UserWarning: Already imported, run `wipe_collections` and try again

## Part 2, tasks

### Setup

In [49]:
import tasks
task = tasks.Task(db_conn.db)

### Task 1

In [50]:
t1 = task.task1()
t1

---------------------------------Starting task1---------------------------------
-------------------------Finished task1 in 1697.003 ms--------------------------

   # users  # activities  # track points
0      182         16048         9681756

### Task 2

In [51]:
t2 = task.task2()
t2

---------------------------------Starting task2---------------------------------
---------------------------Finished task2 in 2.413 ms---------------------------

   min_activity_count  max_activity_count  avg_activity_count
0                   0                2102           88.175824

### Task 3

In [52]:
t3 = task.task3()
t3

---------------------------------Starting task3---------------------------------
---------------------------Finished task3 in 3.515 ms---------------------------

    _id  activity_count
0   128            2102
1   153            1793
2    25             715
3   163             704
4    62             691
5   144             563
6    41             399
7    85             364
8     4             346
9   140             345
10  167             320
11   68             280
12   17             265
13    3             261
14   14             236
15  126             215
16   30             210
17  112             208
18   11             201
19   39             198

### Task 4

In [66]:
t4 = task.task4()
t4

---------------------------------Starting task4---------------------------------
---------------------------Finished task4 in 27.35 ms---------------------------

   Users taken taxi
0                10
1                58
2                62
3                78
4                80
5                85
6                98
7               111
8               128
9               163

### Task 5

In [71]:
t5 = task.task5()
t5

---------------------------------Starting task5---------------------------------
---------------------------Finished task5 in 28.98 ms---------------------------

        _id  transportation_mode_count
0      walk                        481
1       car                        419
2      bike                        262
3       bus                        199
4    subway                        133
5      taxi                         37
6  airplane                          3
7     train                          2
8      boat                          1
9       run                          1