# Introduction
This notebook performs the tasks in the exercise

In [82]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
from migrator import Migrator
from database import Database
from environs import Env
import tasks

from tasks import Task

ModuleNotFoundError: No module named 'tasks.Task'; 'tasks' is not a package

## Part 1
Setting up and seeding the database.

In [48]:
env = Env()
env.read_env(".env")

[autoreload of tasks failed: Traceback (most recent call last):
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 500, in superreload
    update_generic(old_obj, new_obj)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 349, in update_class
    if update_generic(old_obj, new_obj):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 309, in update_function
    setattr(old, name, getattr(new, name))
ValueError: task1() requires a code object with 0 free vars, not 1
]

In [19]:
database = Database(
    host=env.str("DB_HOST"),
    port=env.int("DB_PORT"),
    user=env.str("DB_USER"),
    password=env.str("DB_PASSWORD"),
    database=env.str("DB_DATABASE")
)

Connected to: 8.1.0
You are connected to the database: ('mysql',)
-----------------------------------------------

### Create tables

In [5]:
migrator = Migrator(database)

In [6]:
migrator.migrate()

--------------------------------Starting migrate--------------------------------
Found migration files:  ['001_users.sql', '002_activities.sql', '003_trackpoints.sql']
Running migration:   001_users.sql       âœ…
Running migration:   002_activities.sql  âœ…
Running migration:   003_trackpoints.sql âœ…
-------------------------Finished migrate in 11.855 ms--------------------------

### (DANGER) Wipe the DB
ðŸš¨ THIS WILL WIPE ALL DATA IN THE TABLES ðŸš¨

In [7]:
# migrator.wipe()

### Seed Database from Data Set

In [8]:
migrator.seed_users()

------------------------------Starting seed_users-------------------------------
Seeded [(182,)] Users
------------------------Finished seed_users in 7.969 ms-------------------------

In [9]:
migrator.seed_activities()

----------------------------Starting seed_activities----------------------------
Generating seed data for user: 135	âœ…
Generating seed data for user: 132	âœ…
Generating seed data for user: 104	âœ…
Generating seed data for user: 103	âœ…
Generating seed data for user: 168	âœ…
Generating seed data for user: 157	âœ…
Generating seed data for user: 150	âœ…
Generating seed data for user: 159	âœ…
Generating seed data for user: 166	âœ…
Generating seed data for user: 161	âœ…
Generating seed data for user: 102	âœ…
Generating seed data for user: 105	âœ…
Generating seed data for user: 133	âœ…
Generating seed data for user: 134	âœ…
Generating seed data for user: 160	âœ…
Generating seed data for user: 158	âœ…
Generating seed data for user: 167	âœ…
Generating seed data for user: 151	âœ…
Generating seed data for user: 169	âœ…
Generating seed data for user: 156	âœ…
Generating seed data for user: 024	âœ…
Generating seed data for user: 023	âœ…
Generating seed data for user: 015	âœ…
Generating seed data for user: 012	âœ…
Generating seed data for user: 079	âœ…
Generating seed data for user: 046	âœ…
Generating seed data for user: 041	âœ…
Generating seed data for user: 048	âœ…
Generating seed data for user: 077	âœ…
Generating seed data for user: 083	âœ…
Generating seed data for user: 084	âœ…
Generating seed data for user: 070	âœ…
Generating seed data for user: 013	âœ…
Generating seed data for user: 014	âœ…
Generating seed data for user: 022	âœ…
Generating seed data for user: 025	âœ…
Generating seed data for user: 071	âœ…
Generating seed data for user: 085	âœ…
Generating seed data for user: 049	âœ…
Generating seed data for user: 082	âœ…
Generating seed data for user: 076	âœ…
Generating seed data for user: 040	âœ…
Generating seed data for user: 078	âœ…
Generating seed data for user: 047	âœ…
Generating seed data for user: 065	âœ…
Generating seed data for user: 091	âœ…
Generating seed data for user: 096	âœ…
Generating seed data for user: 062	âœ…
Generating seed data for user: 054	âœ…
Generating seed data for user: 053	âœ…
Generating seed data for user: 098	âœ…
Generating seed data for user: 038	âœ…
Generating seed data for user: 007	âœ…
Generating seed data for user: 000	âœ…
Generating seed data for user: 009	âœ…
Generating seed data for user: 036	âœ…
Generating seed data for user: 031	âœ…
Generating seed data for user: 052	âœ…
Generating seed data for user: 099	âœ…
Generating seed data for user: 055	âœ…
Generating seed data for user: 063	âœ…
Generating seed data for user: 097	âœ…
Generating seed data for user: 090	âœ…
Generating seed data for user: 064	âœ…
Generating seed data for user: 030	âœ…
Generating seed data for user: 008	âœ…
Generating seed data for user: 037	âœ…
Generating seed data for user: 001	âœ…
Generating seed data for user: 039	âœ…
Generating seed data for user: 006	âœ…
Generating seed data for user: 174	âœ…
Generating seed data for user: 180	âœ…
Generating seed data for user: 173	âœ…
Generating seed data for user: 145	âœ…
Generating seed data for user: 142	âœ…
Generating seed data for user: 129	âœ…
Generating seed data for user: 116	âœ…
Generating seed data for user: 111	âœ…
Generating seed data for user: 118	âœ…
Generating seed data for user: 127	âœ…
Generating seed data for user: 120	âœ…
Generating seed data for user: 143	âœ…
Generating seed data for user: 144	âœ…
Generating seed data for user: 172	âœ…
Generating seed data for user: 181	âœ…
Generating seed data for user: 175	âœ…
Generating seed data for user: 121	âœ…
Generating seed data for user: 119	âœ…
Generating seed data for user: 126	âœ…
Generating seed data for user: 110	âœ…
Generating seed data for user: 128	âœ…
Generating seed data for user: 117	âœ…
Generating seed data for user: 153	âœ…
Generating seed data for user: 154	âœ…
Generating seed data for user: 162	âœ…
Generating seed data for user: 165	âœ…
Generating seed data for user: 131	âœ…
Generating seed data for user: 136	âœ…
Generating seed data for user: 109	âœ…
Generating seed data for user: 100	âœ…
Generating seed data for user: 107	âœ…
Generating seed data for user: 138	âœ…
Generating seed data for user: 164	âœ…
Generating seed data for user: 163	âœ…
Generating seed data for user: 155	âœ…
Generating seed data for user: 152	âœ…
Generating seed data for user: 106	âœ…
Generating seed data for user: 139	âœ…
Generating seed data for user: 101	âœ…
Generating seed data for user: 137	âœ…
Generating seed data for user: 108	âœ…
Generating seed data for user: 130	âœ…
Generating seed data for user: 089	âœ…
Generating seed data for user: 042	âœ…
Generating seed data for user: 045	âœ…
Generating seed data for user: 087	âœ…
Generating seed data for user: 073	âœ…
Generating seed data for user: 074	âœ…
Generating seed data for user: 080	âœ…
Generating seed data for user: 020	âœ…
Generating seed data for user: 027	âœ…
Generating seed data for user: 018	âœ…
Generating seed data for user: 011	âœ…
Generating seed data for user: 016	âœ…
Generating seed data for user: 029	âœ…
Generating seed data for user: 081	âœ…
Generating seed data for user: 075	âœ…
Generating seed data for user: 072	âœ…
Generating seed data for user: 086	âœ…
Generating seed data for user: 044	âœ…
Generating seed data for user: 088	âœ…
Generating seed data for user: 043	âœ…
Generating seed data for user: 017	âœ…
Generating seed data for user: 028	âœ…
Generating seed data for user: 010	âœ…
Generating seed data for user: 026	âœ…
Generating seed data for user: 019	âœ…
Generating seed data for user: 021	âœ…
Generating seed data for user: 003	âœ…
Generating seed data for user: 004	âœ…
Generating seed data for user: 032	âœ…
Generating seed data for user: 035	âœ…
Generating seed data for user: 095	âœ…
Generating seed data for user: 061	âœ…
Generating seed data for user: 066	âœ…
Generating seed data for user: 092	âœ…
Generating seed data for user: 059	âœ…
Generating seed data for user: 050	âœ…
Generating seed data for user: 057	âœ…
Generating seed data for user: 068	âœ…
Generating seed data for user: 034	âœ…
Generating seed data for user: 033	âœ…
Generating seed data for user: 005	âœ…
Generating seed data for user: 002	âœ…
Generating seed data for user: 056	âœ…
Generating seed data for user: 069	âœ…
Generating seed data for user: 051	âœ…
Generating seed data for user: 093	âœ…
Generating seed data for user: 067	âœ…
Generating seed data for user: 058	âœ…
Generating seed data for user: 060	âœ…
Generating seed data for user: 094	âœ…
Generating seed data for user: 112	âœ…
Generating seed data for user: 115	âœ…
Generating seed data for user: 123	âœ…
Generating seed data for user: 124	âœ…
Generating seed data for user: 170	âœ…
Generating seed data for user: 177	âœ…
Generating seed data for user: 148	âœ…
Generating seed data for user: 141	âœ…
Generating seed data for user: 146	âœ…
Generating seed data for user: 179	âœ…
Generating seed data for user: 125	âœ…
Generating seed data for user: 122	âœ…
Generating seed data for user: 114	âœ…
Generating seed data for user: 113	âœ…
Generating seed data for user: 147	âœ…
Generating seed data for user: 178	âœ…
Generating seed data for user: 140	âœ…
Generating seed data for user: 176	âœ…
Generating seed data for user: 149	âœ…
Generating seed data for user: 171	âœ…
Seeded 16048 Activities
--------------------Finished seed_activities in 22205.078 ms--------------------

In [10]:
migrator.seed_track_points()

---------------------------Starting seed_track_points---------------------------
Generating seed data for user: 135	âœ…
Generating seed data for user: 132	âœ…
Generating seed data for user: 104	âœ…
Generating seed data for user: 103	âœ…
Generating seed data for user: 168	âœ…
Generating seed data for user: 157	âœ…
Generating seed data for user: 150	âœ…
Generating seed data for user: 159	âœ…
Generating seed data for user: 166	âœ…
Generating seed data for user: 161	âœ…
Generating seed data for user: 102	âœ…
Generating seed data for user: 105	âœ…
Generating seed data for user: 133	âœ…
Generating seed data for user: 134	âœ…
Generating seed data for user: 160	âœ…
Generating seed data for user: 158	âœ…
Generating seed data for user: 167	âœ…
Generating seed data for user: 151	âœ…
Generating seed data for user: 169	âœ…
Generating seed data for user: 156	âœ…
Generating seed data for user: 024	âœ…
Generating seed data for user: 023	âœ…
Generating seed data for user: 015	âœ…
Generating seed data for user: 012	âœ…
Generating seed data for user: 079	âœ…
Generating seed data for user: 046	âœ…
Generating seed data for user: 041	âœ…
Generating seed data for user: 048	âœ…
Generating seed data for user: 077	âœ…
Generating seed data for user: 083	âœ…
Generating seed data for user: 084	âœ…
Generating seed data for user: 070	âœ…
Generating seed data for user: 013	âœ…
Generating seed data for user: 014	âœ…
Generating seed data for user: 022	âœ…
Generating seed data for user: 025	âœ…
Generating seed data for user: 071	âœ…
Generating seed data for user: 085	âœ…
Generating seed data for user: 049	âœ…
Generating seed data for user: 082	âœ…
Generating seed data for user: 076	âœ…
Generating seed data for user: 040	âœ…
Generating seed data for user: 078	âœ…
Generating seed data for user: 047	âœ…
Generating seed data for user: 065	âœ…
Generating seed data for user: 091	âœ…
Generating seed data for user: 096	âœ…
Generating seed data for user: 062	âœ…
Generating seed data for user: 054	âœ…
Generating seed data for user: 053	âœ…
Generating seed data for user: 098	âœ…
Generating seed data for user: 038	âœ…
Generating seed data for user: 007	âœ…
Generating seed data for user: 000	âœ…
Generating seed data for user: 009	âœ…
Generating seed data for user: 036	âœ…
Generating seed data for user: 031	âœ…
Generating seed data for user: 052	âœ…
Generating seed data for user: 099	âœ…
Generating seed data for user: 055	âœ…
Generating seed data for user: 063	âœ…
Generating seed data for user: 097	âœ…
Generating seed data for user: 090	âœ…
Generating seed data for user: 064	âœ…
Generating seed data for user: 030	âœ…
Generating seed data for user: 008	âœ…
Generating seed data for user: 037	âœ…
Generating seed data for user: 001	âœ…
Generating seed data for user: 039	âœ…
Generating seed data for user: 006	âœ…
Generating seed data for user: 174	âœ…
Generating seed data for user: 180	âœ…
Generating seed data for user: 173	âœ…
Generating seed data for user: 145	âœ…
Generating seed data for user: 142	âœ…
Generating seed data for user: 129	âœ…
Generating seed data for user: 116	âœ…
Generating seed data for user: 111	âœ…
Generating seed data for user: 118	âœ…
Generating seed data for user: 127	âœ…
Generating seed data for user: 120	âœ…
Generating seed data for user: 143	âœ…
Generating seed data for user: 144	âœ…
Generating seed data for user: 172	âœ…
Generating seed data for user: 181	âœ…
Generating seed data for user: 175	âœ…
Generating seed data for user: 121	âœ…
Generating seed data for user: 119	âœ…
Generating seed data for user: 126	âœ…
Generating seed data for user: 110	âœ…
Generating seed data for user: 128	âœ…
Generating seed data for user: 117	âœ…
Generating seed data for user: 153	âœ…
Generating seed data for user: 154	âœ…
Generating seed data for user: 162	âœ…
Generating seed data for user: 165	âœ…
Generating seed data for user: 131	âœ…
Generating seed data for user: 136	âœ…
Generating seed data for user: 109	âœ…
Generating seed data for user: 100	âœ…
Generating seed data for user: 107	âœ…
Generating seed data for user: 138	âœ…
Generating seed data for user: 164	âœ…
Generating seed data for user: 163	âœ…
Generating seed data for user: 155	âœ…
Generating seed data for user: 152	âœ…
Generating seed data for user: 106	âœ…
Generating seed data for user: 139	âœ…
Generating seed data for user: 101	âœ…
Generating seed data for user: 137	âœ…
Generating seed data for user: 108	âœ…
Generating seed data for user: 130	âœ…
Generating seed data for user: 089	âœ…
Generating seed data for user: 042	âœ…
Generating seed data for user: 045	âœ…
Generating seed data for user: 087	âœ…
Generating seed data for user: 073	âœ…
Generating seed data for user: 074	âœ…
Generating seed data for user: 080	âœ…
Generating seed data for user: 020	âœ…
Generating seed data for user: 027	âœ…
Generating seed data for user: 018	âœ…
Generating seed data for user: 011	âœ…
Generating seed data for user: 016	âœ…
Generating seed data for user: 029	âœ…
Generating seed data for user: 081	âœ…
Generating seed data for user: 075	âœ…
Generating seed data for user: 072	âœ…
Generating seed data for user: 086	âœ…
Generating seed data for user: 044	âœ…
Generating seed data for user: 088	âœ…
Generating seed data for user: 043	âœ…
Generating seed data for user: 017	âœ…
Generating seed data for user: 028	âœ…
Generating seed data for user: 010	âœ…
Generating seed data for user: 026	âœ…
Generating seed data for user: 019	âœ…
Generating seed data for user: 021	âœ…
Generating seed data for user: 003	âœ…
Generating seed data for user: 004	âœ…
Generating seed data for user: 032	âœ…
Generating seed data for user: 035	âœ…
Generating seed data for user: 095	âœ…
Generating seed data for user: 061	âœ…
Generating seed data for user: 066	âœ…
Generating seed data for user: 092	âœ…
Generating seed data for user: 059	âœ…
Generating seed data for user: 050	âœ…
Generating seed data for user: 057	âœ…
Generating seed data for user: 068	âœ…
Generating seed data for user: 034	âœ…
Generating seed data for user: 033	âœ…
Generating seed data for user: 005	âœ…
Generating seed data for user: 002	âœ…
Generating seed data for user: 056	âœ…
Generating seed data for user: 069	âœ…
Generating seed data for user: 051	âœ…
Generating seed data for user: 093	âœ…
Generating seed data for user: 067	âœ…
Generating seed data for user: 058	âœ…
Generating seed data for user: 060	âœ…
Generating seed data for user: 094	âœ…
Generating seed data for user: 112	âœ…
Generating seed data for user: 115	âœ…
Generating seed data for user: 123	âœ…
Generating seed data for user: 124	âœ…
Generating seed data for user: 170	âœ…
Generating seed data for user: 177	âœ…
Generating seed data for user: 148	âœ…
Generating seed data for user: 141	âœ…
Generating seed data for user: 146	âœ…
Generating seed data for user: 179	âœ…
Generating seed data for user: 125	âœ…
Generating seed data for user: 122	âœ…
Generating seed data for user: 114	âœ…
Generating seed data for user: 113	âœ…
Generating seed data for user: 147	âœ…
Generating seed data for user: 178	âœ…
Generating seed data for user: 140	âœ…
Generating seed data for user: 176	âœ…
Generating seed data for user: 149	âœ…
Generating seed data for user: 171	âœ…
[('135-20090103012134', '39.974294', '116.399741', '492', '39816.0566435185', '2009-01-03 01:21:34'), ('135-20090103012134', '39.974292', '116.399592', '492', '39816.0566550926', '2009-01-03 01:21:35'), ('135-20090103012134', '39.974309', '116.399523', '492', '39816.0566666667', '2009-01-03 01:21:36'), ('135-20090103012134', '39.97432', '116.399588', '492', '39816.0566898148', '2009-01-03 01:21:38'), ('135-20090103012134', '39.974365', '116.39973', '491', '39816.0567013889', '2009-01-03 01:21:39'), ('135-20090103012134', '39.974391', '116.399782', '491', '39816.0567361111', '2009-01-03 01:21:42'), ('135-20090103012134', '39.974426', '116.399735', '491', '39816.0567824074', '2009-01-03 01:21:46'), ('135-20090103012134', '39.974458', '116.3997', '491', '39816.0568402778', '2009-01-03 01:21:51'), ('135-20090103012134', '39.974491', '116.399732', '490', '39816.0568981481', '2009-01-03 01:21:56'), ('135-20090103012134', '39.97453', '116.399758', '489', '39816.0569560185', '2009-01-03 01:22:01'), ('135-20090103012134', '39.974577', '116.399745', '490', '39816.0569907407', '2009-01-03 01:22:04'), ('135-20090103012134', '39.974623', '116.399731', '491', '39816.057025463', '2009-01-03 01:22:07'), ('135-20090103012134', '39.974666', '116.399713', '491', '39816.0570601852', '2009-01-03 01:22:10'), ('135-20090103012134', '39.9747', '116.399755', '491', '39816.0570949074', '2009-01-03 01:22:13'), ('135-20090103012134', '39.974732', '116.399838', '491', '39816.0571412037', '2009-01-03 01:22:17'), ('135-20090103012134', '39.97473', '116.399909', '491', '39816.0571527778', '2009-01-03 01:22:18'), ('135-20090103012134', '39.974728', '116.399982', '491', '39816.0571643518', '2009-01-03 01:22:19'), ('135-20090103012134', '39.974731', '116.400052', '491', '39816.0571875', '2009-01-03 01:22:21'), ('135-20090103012134', '39.97473', '116.400143', '491', '39816.0571990741', '2009-01-03 01:22:22'), ('135-20090103012134', '39.974737', '116.400205', '491', '39816.0572222222', '2009-01-03 01:22:24')]
Seeding batch: 0 of 80	âœ…
Seeding batch: 1 of 80	âœ…
Seeding batch: 2 of 80	âœ…
Seeding batch: 3 of 80	âœ…
Seeding batch: 4 of 80	âœ…
Seeding batch: 5 of 80	âœ…
Seeding batch: 6 of 80	âœ…
Seeding batch: 7 of 80	âœ…
Seeding batch: 8 of 80	âœ…
Seeding batch: 9 of 80	âœ…
Seeding batch: 10 of 80	âœ…
Seeding batch: 11 of 80	âœ…
Seeding batch: 12 of 80	âœ…
Seeding batch: 13 of 80	âœ…
Seeding batch: 14 of 80	âœ…
Seeding batch: 15 of 80	âœ…
Seeding batch: 16 of 80	âœ…
Seeding batch: 17 of 80	âœ…
Seeding batch: 18 of 80	âœ…
Seeding batch: 19 of 80	âœ…
Seeding batch: 20 of 80	âœ…
Seeding batch: 21 of 80	âœ…
Seeding batch: 22 of 80	âœ…
Seeding batch: 23 of 80	âœ…
Seeding batch: 24 of 80	âœ…
Seeding batch: 25 of 80	âœ…
Seeding batch: 26 of 80	âœ…
Seeding batch: 27 of 80	âœ…
Seeding batch: 28 of 80	âœ…
Seeding batch: 29 of 80	âœ…
Seeding batch: 30 of 80	âœ…
Seeding batch: 31 of 80	âœ…
Seeding batch: 32 of 80	âœ…
Seeding batch: 33 of 80	âœ…
Seeding batch: 34 of 80	âœ…
Seeding batch: 35 of 80	âœ…
Seeding batch: 36 of 80	âœ…
Seeding batch: 37 of 80	âœ…
Seeding batch: 38 of 80	âœ…
Seeding batch: 39 of 80	âœ…
Seeding batch: 40 of 80	âœ…
Seeding batch: 41 of 80	âœ…
Seeding batch: 42 of 80	âœ…
Seeding batch: 43 of 80	âœ…
Seeding batch: 44 of 80	âœ…
Seeding batch: 45 of 80	âœ…
Seeding batch: 46 of 80	âœ…
Seeding batch: 47 of 80	âœ…
Seeding batch: 48 of 80	âœ…
Seeding batch: 49 of 80	âœ…
Seeding batch: 50 of 80	âœ…
Seeding batch: 51 of 80	âœ…
Seeding batch: 52 of 80	âœ…
Seeding batch: 53 of 80	âœ…
Seeding batch: 54 of 80	âœ…
Seeding batch: 55 of 80	âœ…
Seeding batch: 56 of 80	âœ…
Seeding batch: 57 of 80	âœ…
Seeding batch: 58 of 80	âœ…
Seeding batch: 59 of 80	âœ…
Seeding batch: 60 of 80	âœ…
Seeding batch: 61 of 80	âœ…
Seeding batch: 62 of 80	âœ…
Seeding batch: 63 of 80	âœ…
Seeding batch: 64 of 80	âœ…
Seeding batch: 65 of 80	âœ…
Seeding batch: 66 of 80	âœ…
Seeding batch: 67 of 80	âœ…
Seeding batch: 68 of 80	âœ…
Seeding batch: 69 of 80	âœ…
Seeding batch: 70 of 80	âœ…
Seeding batch: 71 of 80	âœ…
Seeding batch: 72 of 80	âœ…
Seeding batch: 73 of 80	âœ…
Seeding batch: 74 of 80	âœ…
Seeding batch: 75 of 80	âœ…
Seeding batch: 76 of 80	âœ…
Seeding batch: 77 of 80	âœ…
Seeding batch: 78 of 80	âœ…
Seeding batch: 79 of 80	âœ…
Seeding batch: 80 of 80	âœ…
Seeded [(29045268,)] TrackPoints
------------------Finished seed_track_points in 133285.887 ms-------------------

## Part 2

In [80]:
tasks = Task(database)

### Task 1

In [36]:
tasks.task1()

---------------------------------Starting task1---------------------------------
-------------------------Finished task1 in 2296.411 ms--------------------------

   # Users  # Activities  # TrackPoints
0      182         16048       29045268

### Task 2

In [37]:
tasks.task2()

---------------------------------Starting task2---------------------------------
-------------------------Finished task2 in 12485.962 ms-------------------------

      Avg      Max  Min
0  167892  3030975   51

### Task 3

In [38]:
tasks.task3()

---------------------------------Starting task3---------------------------------
---------------------------Finished task3 in 6.707 ms---------------------------

   UserId  ActivityCount
0     128           2102
1     153           1793
2     025            715
3     163            704
4     062            691
5     144            563
6     041            399
7     085            364
8     004            346
9     140            345
10    167            320
11    068            280
12    017            265
13    003            261
14    014            236

### Task 4

In [47]:
tasks.task4()

---------------------------------Starting task4---------------------------------
--------------------------Finished task4 in 12.148 ms---------------------------

   UserId
0     010
1     020
2     052
3     062
4     068
5     073
6     080
7     081
8     084
9     085
10    091
11    092
12    105
13    112
14    125
15    128
16    175

### Task 5

In [85]:
tasks.task5()

---------------------------------Starting task5---------------------------------
Running statement:

            SELECT DISTINCT u.id AS UserID, Count(DISTINCT a.transportation_mode) as '# Transportation Modes', GROUP_CONCAT(DISTINCT a.transportation_mode SEPARATOR ', ') AS 'Transportation Modes'
            FROM Activities AS a
            LEFT JOIN Users AS u
                ON a.user_id = u.id
            WHERE a.transportation_mode != ""
            GROUP BY u.id
            ORDER BY Count(DISTINCT a.transportation_mode) DESC
            LIMIT 10;

---------------------------Finished task5 in 4.808 ms---------------------------

[autoreload of tasks failed: Traceback (most recent call last):
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 500, in superreload
    update_generic(old_obj, new_obj)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 349, in update_class
    if update_generic(old_obj, new_obj):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/Users/larswaage/Code/large-distributed-data/.venv/lib/python3.11/site-packages/IPython/extensions/autoreload.py", line 309, in update_function
    setattr(old, name, getattr(new, name))
ValueError: task1() requires a code object with 0 free vars, not 1
]

,UserID,# Transportation Modes,Transportation Modes
0,128,9,"airplane, bike, boat, bus, car, subway, taxi, ..."
1,062,9,"bike, boat, bus, car, run, subway, taxi, train..."
2,085,4,"bus, subway, taxi, walk"
3,065,4,"bike, subway, taxi, walk"
4,112,3,"bike, bus, walk"
5,078,3,"subway, taxi, walk"
6,080,3,"bike, bus, taxi"
7,081,3,"bike, bus, walk"
8,111,3,"bike, car, taxi"
9,010,3,"bus, taxi, train"